<div class="welcomeContainer">
	<div class="welcome">
		<p>Welcome to the Converter Tool</p>
	</div>

	<div>
		<p class="welcome__text">To get started just select what you'd like to convert.</p>
	</div>

	<div class="home">
		<a class="home__link" href="/distance">Distance (Miles, Kilometers)</a>
	</div>

	<div class="home">
		<a class="home__link" href="/weight">Weight (Pounds, Kilograms, Stones)</a>
	</div>

	<div class="home">
		<a class="home__link" href="/temperature">Temperature (Fahrenheit, Celcius)</a>
	</div>
</div>